.main-container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

  &__site {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__space {
    // width: 1600;
    border-bottom: 1px solid var(--kolor-margines-poziomy);
  }

  &__heading {
    display: flex;
    background-color: var(--kolor-standard);
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  &__logo {
    display: flex;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--kolor-logo);
  }
  &__logo-margin-left {
    margin-left: 15px;
  }
}
