:root {
  --kolor-domyslny: #212121;
  --kolor-logo: #2196f3;
  --kolor-kontakt: #757575;
  --kolor-przycisk-nieaktywny: #f5f4fa;
  --kolor-stopka: #2f303a;
  --kolor-margines-poziomy: #ececec;
  --kolor-tlo: #e5e5e5;
  --kolor-ramki-zdjec: #eeeeee;
  --kolor-ikon: #afb1b8;
  --kolor-standard: #ffffff;
  --kolor-black: #2a2a2a;
  --cien: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --f-czasu: cubic-bezier(0.4, 0, 0.2, 1);
}
